/code/1_spark_test.ipynb
/code/05_taxi_schema.ipynb
/code/03_test.ipynb
/code/08_rdds.ipynb
/code/09_spark_gcs.ipynb
/code/homework.ipynb
/code/06_spark_sql.py
/code/06_spark_sql_big_query.py
/code/head.csv
/code/fhvhv_tripdata_2021-01.csv
data/
/code/fhvhv/
/code/fhvhv_tripdata_2021
/code/download_data.sh
/setup/
fhvhv/
lib/
capstone/cleaned_data/
